:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #b8ece4;
}

h1 {
  margin-top: 0;
  font-size: 3.2em;
}

button {
  border-radius: 8px;
   align-items: center;   /* căn giữa theo chiều dọc */
  justify-content: center; /* căn giữa theo chiều ngang */
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 70px;
  height: 50px;
}


button:hover:not(.btnDel) {
  border-color: #0b7c1a; /* Thay đổi màu viền khi hover tất cả btn trừ btnDel*/
  background-color: #25b931;
  border: 1px solid palegreen;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #ffffff00;
  }
}

/* Kiểu cơ bản cho input */
input {
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
  height: 30px;
}

/* Hiệu ứng hover */
input:hover {
  border-color: #007bff; /* Màu viền khi hover */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4); /* Hiệu ứng shadow khi hover */
}

/* Hiệu ứng focus khi người dùng click vào input */
input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}
